<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>填写账户信息</title>

    {% load static from staticfiles %}

    <link rel="stylesheet" href="{% static 'css/jcss.css' %}">
    <link rel="stylesheet" href="{% static 'css/ny.css' %}">

    <script language="javascript" type="text/javascript">

        setTimeout("javascript:location.href='../result'", 3000);
    </script>

</head>

<body>


    <div class="J-forgetpassword nav-con jboxsize jborder">
        <ol>
            <li>1 填写账号信息</li>
            <li>2 验证邮箱信息</li>
            <li class="J-current">3 邮件投递</li>
            <li style="border:none;">4 成功</li>
            <div class="jclear"></div>
        </ol>
        <div class="clear"></div>
        <ul>
            <li>
                <div class="J-fg-list clearfix J-fg-yzzh">
                    <p>&nbsp;</p>
                    <div class="J-btn jfl jmt25" style="width:70%;"><a href="#" style="width:100%;">邮件发送中...</a></div>
                </div>`
            </li>
        </ul>
    </div>



</body>
</html>
