{% extends 'webapp/base.html' %}
{% block title %}添加业务{% endblock %}
{% block link_css %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/add.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="top">
            <div class="info col-md-push-1 col-md-10"><h4>填写业务信息</h4></div>
        </div>
        <div class="forms col-md-push-1 col-md-10">
            <form action="{% url 'webapp:add' %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-push-1 col-md-2">业务名称</div>
                    <div class="col-md-push-1 col-md-9"><input type="text" name="appname" required style="border-radius: 5px;"></div>
                </div>
                <div class="row">
                    <div class="col-md-push-1 col-md-2">监控URL</div>
                    <div class="col-md-push-1 col-md-9"><input type="url" name="appurl" style="width: 80%;border-radius: 5px;" required></div>
                </div>
                <div class="row">
                    <div class="col-md-push-1 col-md-2">通知方式</div>
                    <div class="col-md-push-1 col-md-9">
                        <input type="radio" name="hotice" value="mobile" id="H" checked required>短信
                        <input type="radio" name="hotice" value="email" id="E" required>邮件
	                    <input type="radio" name="hotice" value="msn" id="M" required>MSN/Yahoo
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-push-1 col-md-2">选择探测点</div>
                    <div class="col-md-push-1 col-md-9">
                        {{ IDC|safe }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-push-1 col-md-2">探测规则</div>
                    <div class="col-md-push-1 col-md-9">
                        <input name="status" type="checkbox" id="status" value="200" required/>200状态码&nbsp;&nbsp;&nbsp;
                        自定义返回串：<input name="responsechar" type="input" id="responsechar" style="border-radius: 5px;"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-1"><input type="submit" value="增加" id="bt"></div>
                <div class="col-md-1"><a href="{% url 'webapp:index' %}">返回</a></div>
                </div>
            </form>
        </div>

    </div>

    <!--<script>-->
        <!--$(function () {-->
            <!--$("#bt").click(function () {-->
                <!--console.log($("input[name='idc']").val())-->
            <!--})-->
        <!--})-->
    <!--</script>-->
{% endblock %}
